<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QueuedMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F366BEF1E0A425B0096018F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F366C061E0A425C0096018F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F366C111E0A425C0096018F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
